@font-face {
    src: url(../../fonts/Macan-Regular.otf);
    font-family: Macan;
}

@font-face {
    src: url(../../fonts/Roboto-Bold.ttf);
    font-family: Roboto-Bold;
}
@font-face {
    src: url(../../fonts/Ubuntu-Regular.ttf);
    font-family: Ubuntu-Regular;
}
@font-face {
    src: url(../../fonts/Ubuntu-Light.ttf);
    font-family: Ubuntu-Light;
}
// @font-face {
//     src: url(../../fonts/Ubuntu-Bold.ttf);
//     font-family: Ubuntu-Bold;
// }